<div class="row mt-5">
  <div class="col">
    <img src="../../../../assets/Avatar.png" />
  </div>
  <div class="col">
    <span class="txtTitle">Sobre mí</span>
    <p class="txtDescription">
      Ingeniero de ejecución en computación e informática, titulado de la
      univerdad del Bío-Bío, Chile.
    </p>

    <div class="mb-5">
      <div class="info-row">
        <span class="txtLabel">Nombre</span><span class="txtColon">:</span>
        <span class="txtInformation">Daniel Fernando Molina Morán</span>
      </div>
      <div class="info-row">
        <span class="txtLabel">Teléfono</span><span class="txtColon">:</span>
        <span class="txtInformation">+56 9 48402369</span>
      </div>
      <div class="info-row">
        <span class="txtLabel">Email</span><span class="txtColon">:</span>
        <span class="txtInformation">Danielmolinamoran18&#64;gmail.com</span>
      </div>
      <div class="info-row">
        <span class="txtLabel">País</span><span class="txtColon">:</span>
        <span class="txtInformation">Chile</span>
      </div>
      <div class="info-row">
        <span class="txtLabel">LinkedIn</span><span class="txtColon">:</span>
        <a
          href="https://linkedin.com/in/danielmmolina"
          target="_blank"
          class="txtInformation"
          >linkedin.com/in/danielmmolina</a
        >
      </div>
      <div class="info-row">
        <span class="txtLabel">Github</span><span class="txtColon">:</span>
        <a
          href="https://github.com/Danielmmolina"
          target="_blank"
          class="txtInformation"
          >github.com/Danielmmolina</a
        >
      </div>
    </div>

    <shared-btn btn="black"></shared-btn>
    <p class="txtProjects mt-3">Descubre mis proyectos aquí.</p>
  </div>
</div>
