<div class="row mt-5">
  <div class="col txtContainer">
    <p class="txtCustom">Hola!</p>
    <p><span>Soy</span><span class="txtColor"> Daniel</span></p>
    <p class="txtColor">Molina Morán</p>
    <p class="txtCustom">Software Developer</p>
    <p class="txtDescription">
      Ingeniero de ejecución en computación e informática, titulado de la
      univerdad del Bío-Bío, Chile.
    </p>

    <app-btn btn="black"></app-btn>
    <p class="txtProjects mt-3">Descubre mis proyectos aquí.</p>

    <a href="https://linkedin.com/in/danielmmolina" target="_blank">
      <img
        class="icon"
        src="https://img.icons8.com/?size=100&id=98960&format=png&color=e1ad01"
        alt="logo linkeding"
      />
    </a>
    <a href="https://github.com/Danielmmolina" target="_blank">
      <img
        class="icon"
        src="https://img.icons8.com/?size=100&id=62856&format=png&color=e1ad01"
        alt="logo github"
      />
    </a>
    <a
      [href]="'https://mail.google.com/mail/?view=cm&fs=1&to=' + email"
      target="_blank"
    >
      <img
        class="icon"
        src="https://img.icons8.com/?size=100&id=12623&format=png&color=e1ad01"
        alt="logo email"
      />
    </a>
  </div>
  <div class="col d-flex justify-content-end">
    <img src="../../../../assets/Avatar.png" />
  </div>
</div>
