img{
  width: 695px;
  height: 740px;
  margin-right: 10px;
}

.txtContainer{
  margin-left: 100px;
}

.txtCustom{
  font-size: var(--font-size-m);
  font-weight: var(--font-medium);
}

.txtDescription{
  font-size: var(--font-size-s);
  font-weight: var(--font-regular);
}

span{
  font-size:var(--font-size-xl);
  font-weight: var(--font-bold);
}
p{
  font-size:var(--font-size-xl);
  font-weight: var(--font-bold);
}

.txtColor{
  color: var(--secondary-color);
}

.txtProjects{
  font-size: var(--font-size-xxs);
  font-weight: var(--font-medium);
}

.icon{
  height: 80px;
  width: 80px;
  margin-top: 15px;
  margin-right: 50px;
  cursor: pointer;
}
